{% extends 'index.html' %}

{% block content %}

<div class="itemdisplay1">
    <!-- <div class="col-xs-12 col-md-6 bootstrap snippets bootdeys"> -->
        <div class="product-content product-wrap clearfix">
            <div class="row">
                <div class="col-md-5 col-sm-12 col-xs-12">
                    <div class="text-center">
                        <img src="{{ item.mainimage }}" alt="product image" class="img-responsive" style="width: 300px; margin-top: 20px;">
                    </div>
                </div>
                <div class="col-md-7 col-sm-12 col-xs-12">
                    <div class="product-detail">
                        <h5 class="name">
                            <h3>{{item.productname}}</h3>
                            <br>
                            <p>SKU: {{item.sku}}</p>
                            <p>Product Description: {{item.productdesc}}</p>
                            <p>Quantity: {{item.quantity}}</p>
                        </h5>
                    </div>
                    <form action="/item/addstock/{{item.id}}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <p class="text-danger small" id="errors">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        <div class="description">
                            <label>Quantity:</label>
                            <div>
                                <input type="number" class="form-control form-control-sm" name="quantity" min="1" max="10000">
                            </div>
                        </div>
                        <div class="description">
                            <label for="nameinput">Location:</label>
                            <div class="col-sm-7">
                                <select class="form-control form-control-sm" name="location">
                                    "CA","CA"),("OH","OH"),("WA","WA"
                                    <option value="CA">CA</option>
                                    <option value="OH">OH</option>
                                    <option value="WA">WA</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-8"></div>
                            <div class="col-sm-4"><button type="submit" class="btn btn-primary">Add Stock</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}