{% extends 'index.html' %}

{% block content %}
<div class="mainheader">
    <p></p>
    <h1 class="page-title">New Item</h1>
    <br>
    <div class="card card-body col-6">
        <form action="/item/add" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {% for field in form %}
            <div class="form-group row">
                {{field.errors}}
                <label for="id_{{ field.name }}" class="col-3 col-form-label"> {{field.label}}</label>
                <div class="col-9">
                    {{ field }}
                </div>
            </div>
            {% endfor%}
            <button type="submit" class="btn btn-primary" name="button">Add Item</button>
        </form>
    </div>
</div>
{% endblock %}