{% extends 'index.html' %}

{% block content %}
        <div class="editprofile">
            <h3>Edit Your Info {{user.first_name}}:</h3>
            <form action="/customer/update/{{customer.id}}" method="POST">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="text-danger small" id="errors">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <div class="form-group row">
                    <label for="phonenumberinput" class="col-sm-5 col-form-label col-form-label-sm">First Name:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" name="first_name" value="{{user.first_name}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="nameinput" class="col-sm-5 col-form-label col-form-label-sm">Last Name:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" name="last_name" value="{{user.last_name}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="emailinput" class="col-sm-5 col-form-label col-form-label-sm">Email:</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control form-control-sm" name="email" value="{{user.email}}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-5 col-form-label col-form-label-sm">Password:</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control form-control-sm" name="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password_confinput" class="col-sm-5 col-form-label col-form-label-sm">Confirm PW:</label>
                    <div class="col-sm-7">
                        <input type="password" class="form-control form-control-sm" name="password_conf">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-8"></div>
                    <div class="col-sm-4"><button type="submit" class="btn btn-primary">Update</button></div>
            
                </div>
            </form>
        </div>

    </div>
{% endblock %}
