{% extends 'logRegBase.html' %}

{% block body %}

<div class="loginform logreg">
    <div class="card card-body">
        <h1>Login</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/user/login" method=POST>
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" name='email' class='form-control' placeholder="Enter Email Here">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name='password' class='form-control' placeholder="Password">
            </div>
            <div class="form-group">
                <input type="submit" value='Login' class="btn btn-primary">
            </div>
        </form>
    </div>
</div>

<div class="logregtext">
    <a href="/user/regpage">Not registered? Register now</a>
</div>


{% endblock %}