{% extends 'index.html' %}

{% block content %}
<div class="mainheader">
    <h1>View Inventory</h1>
</div>

<div class="maininventorytable">
    <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
            <tr>
                <!-- <th class="th-sm">Select</th> -->
                <th class="th-sm">SKU</th>
                <th class="th-sm">Product Name</th>
                <th class="th-sm">Quantity</th>
                <th class="th-sm">Location</th>
                <th class="th-sm">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for item in all_items %}
            <tr>
                <!-- <td></td> -->
                <td>{{item.sku}}</td>
                <td>{{item.productname}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.location}}</td>/
                <td>
                    <a href="/item/edit/{{item.id}}">
                        <button class="btn btn-primary">Edit</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>

<br>
<a href="/item/add">
    <button class="btn btn-primary float-right">Add Item</button>
</a>


<br>
<div class="col-xs-12 col-md-6 bootstrap snippets bootdeys">
    <!-- product -->
    <div class="product-content product-wrap clearfix">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="product-image">
                    <img src="" alt="product image" class="img-responsive">
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="product-detail">
                    <h5 class="name">
                        <a href="#">
                            Item Title
                            <span>SKU: </span>
                            <span>Location: </span>
                            <span>Quantity: </span>
                        </a>
                    </h5>
                </div>
                <div class="description">
                    <p>This is the product description </p>
                </div>
                <div class="product-info smart-form">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <a href="javascript:void(0);" class="btn btn-primary">Add Item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}