{% extends 'logRegBase.html' %}

{% block body %}
<div class="thereitis">
    <h2>ThereItIs!</h2>
</div>

<div class="registerform logreg">
    <div class="card card-body">
        <h1>Register</h1>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="/user/register" method='post'>
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" name='first_name' id='first_name' class='form-control' placeholder="First Name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name" id="last_name" class="form-control" placeholder="Last Name">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name='password' id='password' class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="password_conf">Confirm Password:</label>
                <input type="password" name='password_conf' id='password_conf' class="form-control" placeholder="Confirm Password">
            </div>
            <div class="form-group">
            <input type="submit" value='Register' class="btn btn-primary">
            </div>  
    </div>

    </form>
</div>
</div>

<div class="logregtext">
    <a href="/user/loginpage">Already registered? Log in now</a>
</div>

{% endblock %}