{% extends 'index.html' %}

{% block content %}

<div class="mainheader">
    <h1>View Transaction History</h1>
</div>

<div class="maininventorytable">
    <table id="example" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        {% for items in all_items %}
        <thead>
            <tr>
                <th class="th-sm">Select</th>
                <th class="th-sm">SKU</th>
                <th class="th-sm">Product Name</th>
                <th class="th-sm">Quantity</th>
                <th class="th-sm">Location</th>
                <th class="th-sm">Edit</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}